body
{
  font-family: 'Mukta Vaani', sans-serif;
  margin:0;
  width:100%;
  background-image: url("img/background2.jpg");
}

/*
font-family: 'Mitr', sans-serif;
font-family: 'Mukta Vaani', sans-serif;
font-family: 'MuseoModerno', cursive;
*/

*
{
  box-sizing: border-box;
}

#navigation
{
  background-image: linear-gradient(to right,transparent,transparent,transparent,transparent, #000,transparent,transparent,transparent,transparent);
  width: 100%;
  top:0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 3;
}

.navigation__list
{
  display: flex;
  justify-content: center;
  text-align: center;
}

.navigation__item
{
  display: block;
  background-color: white;
  margin: 5px 5px;
  width:70px;
  height:70px;
  transition: all 0.15s ease-in;
  border: 2px solid #000;
  border-radius: 15%;
}

a{
  text-decoration: none;
}

#welcome_view{
  position: relative;
}

#welcome_container{
  position: absolute;
  left:53vw;
  margin-right:10vw;
  width:35vw;
  top:22vh;
  z-index: 3;
}

#welcome_header
{
  font-size: 116px;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: 'MuseoModerno', cursive;
}

#welcome_paragraph{
  font-size: 44px;
  margin-top:0;
  font-weight: 200;
}

#welcome_button{
  width: 140px;
  height: 140px;
  border-radius: 100%;
  font-size: 26px;
  padding: 10px;
  border: none;
  background: transparent;
  color: #000;
  border: 3px solid #000;
  cursor: pointer;
  font-family: 'Mitr', sans-serif;
}

main
{
  background-color: #e8f0e4;
  text-align: center;
  position: relative;
  top:-15vh;
}

#content{
  max-width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: #e8f0e4;
}

h1{
  font-size: 72px;
  flex:100%;
  -ms-flex:100%;
}

.tile
{
  background-color: blanchedalmond;
  width:485px;
  height:485px;
  margin: 10px;
}

footer
{
  background-color: seagreen;
  width:100%;
  height: 300px;
}

/* --------------------------------------------------------------------------------------------------- MEDIA QUERIES ------------------------------------------------------------------------------------- */

@media (min-width: 800px)
{

  .navigation__item:hover
  {
    transform:scale(1.1);
    -ms-transform:scale(1.1);
    opacity: 0.75;
  }
}